@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    /* https://mycolor.space/?hex=%2371DCE4&sub=1 */
    --branco: #ffffff;
    --nav-color: #2F6673;
    --color1: #2F6673;
    ;
    --color2: #BF8958;
    --color3: #8F5D32;
    --color4: #00C9AC;
    --color5: #534439;
    --color6: #9D5B9B;
    --color7: #A03962;
    --color8: linear-gradient(90deg, #6D36B5 35%, #1D3899 100%);

    --background-color: linear-gradient(75.23deg, #2F6673 5.53%, #1493AF 67.94%);
    --desenvolvimento-background-1: rgb(216, 243, 251);
    --desenvolvimento-background-2: linear-gradient(90deg, rgba(216, 243, 251, 1) 0%, rgba(131, 237, 245, 1) 99%);
}

a {
    color: var(--color1);
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
}

a:hover {
    color: var(--color3);
    opacity: 0.7;
    transition: 500ms;
    text-decoration: underline;
}

.logo-image {
    height: 7vh;
}

.nav-text {
    color: var(--color1);
    font-size: larger;
}

.nav-text-current {
    color: var(--color1);
    font-size: larger;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    height: 10vh;
    font-size: 20px;

    background: var(--branco);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    stroke: var(--color5);
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    margin-left: 32px;
}

.home h1 {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 10px;
    font-size: 48px;
    color: #fff;
    align-self: bottom;
}

.home p {
    font-family: Montserrat, sans-serif;
    font-weight: 100;
    font-size: 30px;
    padding-left: 15%;
    padding-right: 15%;
    color: #fff;
    text-align: center;
}



.home button {
    font-family: 'Red Hat Display', sans-serif;
    padding: 1.3em 3em;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 10px;
    color: var(--color1);
    background-color: var(--branco);
    border: none;
    border-radius: 45px;
    box-shadow: var(--color5) 0px 10px 30px -10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.home button:hover {
    color: var(--color2);
    transform: scale(1.01);
    transition: 500ms;
}

.home button:active {
    transform: translateY(-1px);
}
.home img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 300px;
    height: auto;
    border-radius: 100%;
}
.home {
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center;
       
}

.presentation-left {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation-right {
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}




@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .home {
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .home img {
        width: 150px;
        height: 150px;
    }
    .home h1{
        font-size: 32px;
    }
    .home p{
        font-size: 20px;
    }

    .nav-text-current {
        visibility: hidden;
    }
    .nav-list {
        visibility: hidden;
    }
    .logo-image{
        position: absolute;
        top: 15%;
        left: 40vw;
        visibility: visible;
        color: var();
    }
    
}

body {
    height: 100vh;
    font-size: 100%;
    background: var(--color1);
    background: var(--background-color);
    background-attachment: fixed;
    /*edit*/
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.icones {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ion-icon {
    font-size: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 25pt;
    width: 100%;
    text-align: center;
}

.about {
    color: var(--branco);
    font-family: 'Red Hat Display', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.about-academic-background-paragraph {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 48px;
}

.title {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 36px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.academic-bg-div {
    display: flex;
    align-items: top;
}

.academic-background-right {
    display: flex;
    align-items: center;
    background-color: var(--branco);
    border-radius: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.image {
    height: 200px;
    padding: 10%;
}

.image:hover {
    transform: scale(1.01);
    transition: 500ms;

}

.onedrive {
    width: 100%;
}

.onedrive iframe {
    width: 100%;
    height: 929vh;
    
}

.resume-page {
    overflow: hidden;
}