.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.presentation-text {
  flex-basis: 50%;
  padding: 2rem;
}

.presentation-visual {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  width: 100%;
  max-width: 400px;
}

.presentation-title {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.presentation-text-paragraph {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.presentation-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-top: 1rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.presentation-button:hover {
  background-color: #3e8e41;
  color: white;
}
